/* 전체 레이아웃 */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 98px);
  overflow-x: hidden;
  overflow-y: visible;

  font-family: var(--font-family);
}

/* 상단 네비 영역 */
.MemberHeader {
  flex: 0 0 auto;
  width: 100%;

  z-index: 9999;
}

/* 메인 내용 */
.layoutMain {
  flex: 1;
  height: calc(100vh - 98px);
  padding: 20px 118px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  background-color: var(--color-white);

  /* 스크롤 숨기기 */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.layoutMain::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.layoutMainYellow {
  flex: 1;
  height: calc(100vh - 98px);
  padding: 20px 118px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: var(--color-sud-color1) !important;
}

/* 반응형 */
@media (max-width: 1400px) {
  .layoutMain,
  .layoutMainYellow {
    padding: 0 20px;
  }
}

@media (max-width: 430px) {
  .layoutMain,
  .layoutMainYellow {
    padding: 0 10px;
  }
}
